{% extends 'base.html' %}

{% block title %} Услуги {% endblock %}
{% block style %}
  .service-card {
    width: 300px;
    height: auto;
    background-color: #009688;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .service-card:hover {
    transform: scale(1.05);
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-primary {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #333;
    border-color: #333;
  }

  .modal-content {
    background-color: #333; /* Changed the modal content background color */
    color: #fff; /* Changed the modal content text color */
    border-radius: 20px; /* Added border-radius to give a rounded look */
  }

  .modal-header {
    background-color: #009688;
    color: #fff;
    border-radius: 15px 15px 0 0;
  }

  .modal-footer {
    background-color: #009688;
    color: #fff;
    border-radius: 0 0 15px 15px;
  }

  .modal-title {
    color: #fff;
  }

  .modal-dialog {
    max-width: 80%;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-body {
    padding-bottom: 0;
  }

  .close {
    color: #fff;
    opacity: 0.8;
  }

  .close:hover {
    opacity: 1;
  }
{% endblock %}
{% block body %}

<div class="container mt-5">
  <h1 class="text-center mb-5">Наши услуги</h1>
  <div class="row justify-content-center">
    {% for service in services %}
      <div class="col-md-4">
        <div class="service-card" data-toggle="modal" data-target="#serviceModal{{ service.id }}">
          <h3>{{ service.name }}</h3>
          <p>Цена: {{ service.price }} руб.</p>
          <button type="button" class="btn btn-primary">
            Подробнее
          </button>
        </div>
      </div>

      <div class="modal fade" id="serviceModal{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel{{ service.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="serviceModalLabel{{ service.id }}">{{ service.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ service.description }}</p>
              <p>Цена: {{ service.price }} руб.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
